USE [soyaletegra]
GO
/****** Object:  Table [dbo].[door_commander_selections]    Script Date: 27/07/2017 7:57:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[door_commander_selections](
	[comp_id] [int] NOT NULL CONSTRAINT [DF_door_commander_selections_comp_id]  DEFAULT ((0)),
	[door_fullid] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_door_commander_selections] PRIMARY KEY CLUSTERED 
(
	[comp_id] ASC,
	[door_fullid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[door_commander_triggers]    Script Date: 27/07/2017 7:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[door_commander_triggers](
	[comp_id] [int] NOT NULL CONSTRAINT [DF_door_commander_triggers_comp_id]  DEFAULT ((0)),
	[door_fullid] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_door_commander_triggers] PRIMARY KEY CLUSTERED 
(
	[comp_id] ASC,
	[door_fullid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[door_commanders]    Script Date: 27/07/2017 7:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[door_commanders](
	[comp_id] [int] NOT NULL,
	[trigger_auto_open] [bit] NOT NULL CONSTRAINT [DF_door_commander_trigger_auto_open]  DEFAULT ((0)),
	[created_by] [nvarchar](20) NULL,
	[date_created] [datetime] NULL,
	[modified_by] [nvarchar](20) NULL,
	[date_modified] [datetime] NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_door_commander] PRIMARY KEY CLUSTERED 
(
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[global_apb_groups]    Script Date: 27/07/2017 7:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[global_apb_groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](20) NOT NULL,
	[is_apb_enabled] [bit] NOT NULL CONSTRAINT [DF_global_apb_groups_is_enable_apb]  DEFAULT ((0)),
	[type] [smallint] NULL,
	[status] [smallint] NULL,
	[created_by] [nvarchar](20) NULL,
	[date_created] [datetime] NULL,
	[modified_by] [nvarchar](20) NULL,
	[date_modified] [datetime] NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_global_apb_groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[global_apb_selections]    Script Date: 27/07/2017 7:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[global_apb_selections](
	[global_apb_group] [int] NOT NULL,
	[site_id] [int] NOT NULL,
	[door_id] [int] NOT NULL,
	[door_subid] [int] NOT NULL,
	[door_fullid] [nvarchar](10) NOT NULL,
	[is_entry] [bit] NOT NULL CONSTRAINT [DF_global_apb_selections_is_entry]  DEFAULT ((0)),
 CONSTRAINT [PK_global_apb_selections] PRIMARY KEY CLUSTERED 
(
	[global_apb_group] ASC,
	[site_id] ASC,
	[door_id] ASC,
	[door_subid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE sequesters SET seq_name='Incompatible firmware' WHERE link_id=81 AND seq_id=61
GO
UPDATE preferences SET app_version='5.2.1'
GO
INSERT [dbo].[modules] ([option_id], [parent_id], [program_id], [class_id], [option_type], [option_name_1], [option_name_2], [option_name_3], [option_name_4], [option_name_5], [add_flag], [edit_flag], [delete_flag], [view_flag], [print_flag], [report_flag], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (N'1300090', N'1300000', N'SOYACCCTRL', N'ACCESSCONTROL', N'F', N'Global Anti-Passback', N'Global Anti-Passback', N'Global Anti-Passback', NULL, NULL, 1, 1, 1, 1, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[operator_access] ([operator_group], [option_id], [add_flag], [edit_flag], [delete_flag], [view_flag], [print_flag], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (1, N'1300090', 1, 1, 1, 1, 0, NULL, NULL, N'ADMIN', CAST(N'2017-07-02 00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[operator_access] ([operator_group], [option_id], [add_flag], [edit_flag], [delete_flag], [view_flag], [print_flag], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (2, N'1300090', 1, 1, 1, 1, 0, NULL, NULL, N'ADMIN', CAST(N'2017-07-02 00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[operator_access] ([operator_group], [option_id], [add_flag], [edit_flag], [delete_flag], [view_flag], [print_flag], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (3, N'1300090', 0, 0, 0, 0, 0, NULL, NULL, N'ADMIN', CAST(N'2017-07-02 00:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[sequesters] ([id], [link_id], [seq_id], [seq_name], [seq_name2], [seq_name3], [seq_name4], [seq_name5], [sort_order], [category], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (176, 81, 1007, N'Soft antipass back error', NULL, NULL, NULL, NULL, N'', N'', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[sequesters] ([id], [link_id], [seq_id], [seq_name], [seq_name2], [seq_name3], [seq_name4], [seq_name5], [sort_order], [category], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (182, 99, 11, N'Auto unlock triggered', NULL, NULL, NULL, NULL, N'', N'', NULL, NULL, NULL, NULL, NULL, NULL)

/****** Object:  Table [dbo].[global_apb_selections]    Script Date: 27/07/2017 7:57:26 PM ******/

UPDATE modules SET option_name_1='716 Anti Passback Map',option_name_2='716 Peta Anti Passback',option_name_3='716 Peta Anti Passback' WHERE option_id='1100090'
UPDATE modules SET option_name_1='Soft Anti-Passback',option_name_2='Soft Anti-Passback',option_name_3='Soft Anti-Passback' WHERE option_id='1300090'