Use Soyaletegra
GO
SET IDENTITY_INSERT [dbo].[languages] ON
INSERT [dbo].[languages] ([id], [description], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (2, N'Bahasa Malaysia', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[languages] ([id], [description], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (3, N'Bahasa Indonesia', NULL, NULL, NULL, NULL, NULL, NULL)
GO
UPDATE	[dbo].[languages] 
   SET	[description] = N'Bahasa Malaysia'
 WHERE	[id]  = 2
UPDATE	[dbo].[languages] 
   SET	[description] = N'Bahasa Indonesia'
 WHERE	[id]  = 3
GO
SET IDENTITY_INSERT [dbo].[languages] OFF;

UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'ON DUTY',[seq_name2] = N'MASUK KERJA',[seq_name3] = N'MASUK KERJA'
 WHERE	[id]  = 2
UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'OFF DUTY',[seq_name2] = N'TAMAT KERJA',[seq_name3] = N'TAMAT KERJA'
 WHERE	[id]  = 3
UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'OVT ON',[seq_name2] = N'MULA OVT',[seq_name3] = N'MULA OVT'
 WHERE	[id]  = 4
UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'OVT OFF',[seq_name2] = N'TAMAT OVT',[seq_name3] = N'TAMAT OVT'
 WHERE	[id]  = 5
UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'BRK OUT',[seq_name2] = N'REHAT KELUAR',[seq_name3] = N'RIHAT KELUAR'
 WHERE	[id]  = 6 
UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'BRK IN',[seq_name2] = N'REHAT MASUK',[seq_name3] = N'RIHAT MASUK'
 WHERE	[id]  = 7
UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'NORMAL OUT',[seq_name2] = N'KELUAR BIASA',[seq_name3] = N'KELUAR BIASA'
 WHERE	[id]  = 8
UPDATE	[dbo].[sequesters]
   SET	[seq_name] = N'NORMAL IN',[seq_name2] = N'MASUK BIASA',[seq_name3] = N'MASUK BIASA'
 WHERE	[id]  = 9 
GO

UPDATE	[dbo].[datagridviews]
   SET	[column_width] = 120
 WHERE	([parent_name] = N'AlarmEvent' AND [control_name] = N'grdEvent' AND [column_name] = N'colExpEndDate')

Delete [dbo].[messages] where ([message_id] >= 1 AND [message_id] <= 40);
INSERT [dbo].[messages] ([message_id], [message_desc1], [message_desc2], [message_desc3], [message_desc4], [message_desc5]) VALUES (1, N'SoyalEtegra Access Control System', N'Sistem Pengawal Akses SoyalEtegra', N'Sistem Kontrol Akses SoyalEtegra', NULL, NULL)
INSERT [dbo].[messages] ([message_id], [message_desc1], [message_desc2], [message_desc3], [message_desc4], [message_desc5]) VALUES (2, N'Demo Version Expired.', N'Versi Demo Tamat Tempoh.', N'Versi Demo Berakhir', NULL, NULL)
INSERT [dbo].[messages] ([message_id], [message_desc1], [message_desc2], [message_desc3], [message_desc4], [message_desc5]) VALUES (3, N'Serial number has expired.', N'Nombor Siri Tamat Tempoh.', N'Nomor Serial telah berakhir ', NULL, NULL)
GO
Delete [dbo].[modules] where [option_id] >= 1000 AND [option_id] <= 9007;
INSERT [dbo].[modules] ([option_id], [parent_id], [program_id], [class_id], [option_type], [option_name_1], [option_name_2], [option_name_3], [option_name_4], [option_name_5], [add_flag], [edit_flag], [delete_flag], [view_flag], [print_flag], [report_flag], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (N'1100000', N'0', N'SOYSYSMGR', N'SYSTEMMANAGER', N'M', N'System Configuration', N'Sistem Konfigurasi', N'Sistem Konfigurasi ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[modules] ([option_id], [parent_id], [program_id], [class_id], [option_type], [option_name_1], [option_name_2], [option_name_3], [option_name_4], [option_name_5], [add_flag], [edit_flag], [delete_flag], [view_flag], [print_flag], [report_flag], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (N'1100015', N'1100000', N'SOYSYSMGR', N'SYSTEMMANAGER', N'F', N'Hardware Manager', N'Pengurusan Perkakasan', N'Manajemen Peralatan', NULL, NULL, 1, 1, 1, 1, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[modules] ([option_id], [parent_id], [program_id], [class_id], [option_type], [option_name_1], [option_name_2], [option_name_3], [option_name_4], [option_name_5], [add_flag], [edit_flag], [delete_flag], [view_flag], [print_flag], [report_flag], [type], [status], [created_by], [date_created], [modified_by], [date_modified]) VALUES (N'1100030', N'1100000', N'SOYSYSMGR', N'SYSTEMMANAGER', N'F', N'Preferences', N'Penetapan', N'Penetapan', NULL, NULL, 1, 1, 1, 1, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
Delete [dbo].[datagridviews]  where [parent_name] = N'AlarmEvent' AND [control_name] = N'grdEvent'
INSERT [dbo].[datagridviews] ([parent_name], [control_name], [column_name], [column_index], [column_width], [display_index], [user_id], [column_visible]) VALUES (N'AlarmEvent', N'grdEvent', N'colAccessMode', 15, 90, 15, N'ADMIN', NULL)
INSERT [dbo].[datagridviews] ([parent_name], [control_name], [column_name], [column_index], [column_width], [display_index], [user_id], [column_visible]) VALUES (N'AlarmEvent', N'grdEvent', N'colAcknowledgeMsg', 9, 94, 9, N'ADMIN', NULL)
INSERT [dbo].[datagridviews] ([parent_name], [control_name], [column_name], [column_index], [column_width], [display_index], [user_id], [column_visible]) VALUES (N'AlarmEvent', N'grdEvent', N'colAddress', 32, 150, 32, N'ADMIN', NULL)
GO
Delete [dbo].[datagridviews]  where [parent_name] = N'AreaControl' AND [control_name] = N'grdUserList'
GO
Delete [dbo].[datagridviews]  where [parent_name] = N'AttendanceList' AND [control_name] = N'grdAttendanceList'
GO
Delete [dbo].[datagridviews]  where [parent_name] = N'CurrentEvent' AND [control_name] = N'grdEvent'
GO
Delete [dbo].[datagridviews]  where [parent_name] = N'Fingerprint' AND [control_name] = N'grdUserList'
GO
Delete [dbo].[datagridviews]  where [parent_name] = N'UserList' AND [control_name] = N'grdUserList'
GO
Delete [dbo].[form_languages]  where [form_id] >= 1 AND [form_id] <= 124;
INSERT [dbo].[form_languages] ([form_id], [field_name], [field_desc1], [field_desc2], [field_desc3], [field_desc4], [field_desc5]) VALUES (1, N'Label1', N'Database Name', N'Nama Pangkalan Data', N'Nama Database', NULL, NULL)
INSERT [dbo].[form_languages] ([form_id], [field_name], [field_desc1], [field_desc2], [field_desc3], [field_desc4], [field_desc5]) VALUES (1, N'lblCode', N'Code', N'Kod', N'Kode', NULL, NULL)
INSERT [dbo].[form_languages] ([form_id], [field_name], [field_desc1], [field_desc2], [field_desc3], [field_desc4], [field_desc5]) VALUES (1, N'lblIPAddr', N'IP Address', N'Alamat IP', N'Alamat IP', NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'

GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'


/* 1 */ 
/*@value=N'Font Type,Font Size,Alignment,X Location'*/
GO
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'ACKNOWLEDGE',[button_desc2] = N'MENGAKUI',[button_desc3] = N'MENGAKUI',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonAckn'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'ACKNOWLEDGE ALARM',[button_desc2] = N'MENGAKUI PENGGERA',[button_desc3] = N'MENGAKUI ALARM',
		[button_font1] = N'imagine font,6,C,10',[button_font2] = N'imagine font,6,C,10',[button_font3] = N'imagine font,6,C,10'
 WHERE	[button_name]  = N'SOYButtonAcknAlarm'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'ADD',[button_desc2] = N'TAMBAH',[button_desc3] = N'TAMBAH',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonAdd'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'ADD SITE',[button_desc2] = N'TAMBAH SITE',[button_desc3] = N'TAMBAH SITUS',
		[button_font1] = N'imagine font,6,C,10',[button_font2] = N'imagine font,6,C,10',[button_font3] = N'imagine font,6,C,10'
 WHERE	[button_name]  = N'SOYButtonAddSite'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'RESET ANTI-PASSBACK',[button_desc2] = N'RESET ANTI-PASSBACK',[button_desc3] = N'RESET ANTI-PASSBACK',
		[button_font1] = N'imagine font,6,C,10',[button_font2] = N'imagine font,6,C,10',[button_font3] = N'imagine font,6,C,10'
 WHERE	[button_name]  = N'SOYButtonAntiPsBk'
 /* 2 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IN',[button_desc2] = N'MASUK',[button_desc3] = N'MASUK',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonAreaIn'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'OUT',[button_desc2] = N'KELUAR',[button_desc3] = N'KELUAR',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonAreaOut'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'UNKNOWN',[button_desc2] = N'TIDAK DIKETAHUI',[button_desc3] = N'TIDAK DIKETAHUI',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonAreaUnknown'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'ARM',[button_desc2] = N'AKTIFKAN ALARM',[button_desc3] = N'AKTIFKAN ALARM',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonArm'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'AUTO CAPTURE CARD NUM',[button_desc2] = N'AUTO MENGENALI NO KAD',[button_desc3] = N'AUTO MENGENALI NO KAD',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonAutoCapCard' 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'BACKUP NOW',[button_desc2] = N'MULA BACKUP',[button_desc3] = N'MULA BACKUP',
		[button_font1] = N'imagine font,6,L,25',[button_font2] = N'imagine font,6,L,25',[button_font3] = N'imagine font,6,L,25'
 WHERE	[button_name]  = N'SOYButtonBackupNow'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'BROWSE',[button_desc2] = N'LAYARI',[button_desc3] = N'LAYARI',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonBrowse'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CAMERA',[button_desc2] = N'KAMERA',[button_desc3] = N'KAMERA',
		[button_font1] = N'imagine font,6,C,5',[button_font2] = N'imagine font,6,C,5',[button_font3] = N'imagine font,6,C,5'
 WHERE	[button_name]  = N'SOYButtonCamera'
/* 3 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CANCEL',[button_desc2] = N'BATAL',[button_desc3] = N'BATAL',
		[button_font1] = N'imagine font,6,C,10',[button_font2] = N'imagine font,6,C,10',[button_font3] = N'imagine font,6,C,10'
 WHERE	[button_name]  = N'SOYButtonCancel'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CANCEL',[button_desc2] = N'BATAL',[button_desc3] = N'BATAL',
		[button_font1] = N'imagine font,6,C,10',[button_font2] = N'imagine font,6,C,10',[button_font3] = N'imagine font,6,C,10'
 WHERE	[button_name]  = N'SOYButtonCancel1'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CAPTURE',[button_desc2] = N'PEMBACAAN',[button_desc3] = N'PEMBACAAN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonCapture'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CARD COPY',[button_desc2] = N'SALIN KAD',[button_desc3] = N'SALIN KARTU',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonCardCopy'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CASH',[button_desc2] = N'TUNAI',[button_desc3] = N'KAS',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonCash'
/* 4 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CHECK',[button_desc2] = N'PERIKSA',[button_desc3] = N'PERIKSA',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonCheck'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'CLOSE',[button_desc2] = N'TUTUP',[button_desc3] = N'TUTUP',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonClose'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'COLLAPSE',[button_desc2] = N'TUTUP',[button_desc3] = N'TUTUP',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonCollapse'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'COPY',[button_desc2] = N'SALIN',[button_desc3] = N'SALIN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonCopy'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DELETE',[button_desc2] = N'PADAM',[button_desc3] = N'HAPUS',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonDelete'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DELETE ALL CARD',[button_desc2] = N'PADAM SEMUA KAD',[button_desc3] = N'HAPUSKAN SEMUA KAD',
		[button_font1] = N'imagine font,6,C,20',[button_font2] = N'imagine font,6,C,20',[button_font3] = N'imagine font,6,C,20'
 WHERE	[button_name]  = N'SOYButtonDelAllCard'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DELETE ALL FP',[button_desc2] = N'PADAM SEMUA FP',[button_desc3] = N'HAPUSKAN SEMUA FP',
		[button_font1] = N'imagine font,6,C,20',[button_font2] = N'imagine font,6,C,20',[button_font3] = N'imagine font,6,C,20'
 WHERE	[button_name]  = N'SOYButtonDelAllFP'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DELETE FP',[button_desc2] = N'PADAMKAN FP',[button_desc3] = N'HAPUSKAN FP',
		[button_font1] = N'imagine font,6,C,15',[button_font2] = N'imagine font,6,C,15',[button_font3] = N'imagine font,6,C,15'
 WHERE	[button_name]  = N'SOYButtonDelFpInRdr'
/* 5 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DELETE IN DB AND SELECTED CONTROLLER',[button_desc2] = N'          PADAMKAN DLM PANGKALAN DAN CONTROLLER',[button_desc3] = N'          HAPUSKAN DALAM PANGKALAN & CONTROLLER',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonDelLong'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DELETE IN DB ONLY',[button_desc2] = N'PADAMKAN DALAM PANGKALAN SHJ',[button_desc3] = N'HAPUSKAN DALAM DATABASE SAJA',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonDelMedium'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DE-SELECT ALL',[button_desc2] = N'BATAL SEMUA',[button_desc3] = N'BATAL SEMUA',
		[button_font1] = N'imagine font,6,c,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonDeSlctAll'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DISARM',[button_desc2] = N'MATIKAN ALARM',[button_desc3] = N'MATIKAN ALARM',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonDisarm'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DOWNLOAD',[button_desc2] = N'MUAT TURUN',[button_desc3] = N'MUAT TURUN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonDnld'
/* 6 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DOWNLOAD FP FILE TO READER',[button_desc2] = N'MUAT TURUN CAP JARI FAIL KE READER',[button_desc3] = N'MUAT TURUN SIDIK JARI FILE KE READER',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonDnldFpFileToRdr'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DOWNLOAD FP READER TO FILE',[button_desc2] = N'MUAT TURUN CAP JARI READER KE FAIL',[button_desc3] = N'MUAT TURUN SIDIK JARI READER KE FILE',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonDnldFpRdrToFile'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'DOWNLOAD',[button_desc2] = N'MUAT TURUN',[button_desc3] = N'MUAT TURUN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonDownload'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'EDIT',[button_desc2] = N'UBAHSUAI',[button_desc3] = N'SUNTING',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonEdit'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'EMPTY TRANSACTION',[button_desc2] = N'KOSONGKAN TARNSAKSI',[button_desc3] = N'HAPUSKAN TARNSAKSI',
		[button_font1] = N'imagine font,6,C,20',[button_font2] = N'imagine font,6,C,20',[button_font3] = N'imagine font,6,C,20'
 WHERE	[button_name]  = N'SOYButtonEmptyTrax'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'EXIT',[button_desc2] = N'KELUAR',[button_desc3] = N'KELUAR',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonExit'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'EXPAND',[button_desc2] = N'KEMBANG',[button_desc3] = N'KEMBANG',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonExpand'
/* 7 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'EXPORT FP TO FILE',[button_desc2] = N'  EKSPORT CAP JARI   KE FAIL',[button_desc3] = N'  EKSPOR SIDIK JARI   KE FILE',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonExpFpToFile'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'EXPORT NOW',[button_desc2] = N'  EKSPORT   SEKARANG',[button_desc3] = N'     EKSPOR    SEKARANG',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonExpNow'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'EXPORT',[button_desc2] = N'EKSPORT',[button_desc3] = N'EKSPOR',
		[button_font1] = N'imagine font,6,L,35',[button_font2] = N'imagine font,6,L,35',[button_font3] = N'imagine font,6,L,35'
 WHERE	[button_name]  = N'SOYButtonExport'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'FILE',[button_desc2] = N'FAIL',[button_desc3] = N'FILE',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonFile'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'FILTER',[button_desc2] = N'TAPIS',[button_desc3] = N'TAPIS',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonFilter'
/* 8 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'FINGERPRINT MANAGER',[button_desc2] = N'PENGURUSAN CAP JARI',[button_desc3] = N'MANAJEMEN SIDIK JARI',
		[button_font1] = N'imagine font,6,C,15',[button_font2] = N'imagine font,6,C,15',[button_font3] = N'imagine font,6,C,15'
 WHERE	[button_name]  = N'SOYButtonFpMgr'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'GENERATE',[button_desc2] = N'MENJANA',[button_desc3] = N'MENGHASILKAN',
		[button_font1] = N'imagine font,6,C,2',[button_font2] = N'imagine font,6,C,2',[button_font3] = N'imagine font,6,C,2'
 WHERE	[button_name]  = N'SOYButtonGenerate'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'HISTORY ALARM EVENT',[button_desc2] = N'REKOD PERISTIWA ALARM',[button_desc3] = N'REKOD PERISTIWA ALARM',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonHistAlarmEvent'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IMPORT FP FROM FILE',[button_desc2] = N'IMPORT FP DARI FAIL',[button_desc3] = N'IMPOR FP DARI FILE',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonImpFpToFile'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IMPORT NOW',[button_desc2] = N'      IMPORT     SEKARANG',[button_desc3] = N'       IMPOR       SEKARANG',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonImpNow'
/* 9 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IMPORT',[button_desc2] = N'IMPORT',[button_desc3] = N'IMPOR',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonImport'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IN',[button_desc2] = N'MASUK',[button_desc3] = N'MASUK',
		[button_font1] = N'imagine font,7,L,15',[button_font2] = N'imagine font,6,L,5',[button_font3] = N'imagine font,6,L,5'
 WHERE	[button_name]  = N'SOYButtonIn'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IN',[button_desc2] = N'MASUK',[button_desc3] = N'MASUK',
		[button_font1] = N'imagine font,7,L,15',[button_font2] = N'imagine font,6,L,5',[button_font3] = N'imagine font,6,L,5'
 WHERE	[button_name]  = N'SOYButtonIn1'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IN',[button_desc2] = N'MASUK',[button_desc3] = N'MASUK',
		[button_font1] = N'imagine font,7,L,15',[button_font2] = N'imagine font,6,L,5',[button_font3] = N'imagine font,6,L,5'
 WHERE	[button_name]  = N'SOYButtonInAll'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'IN',[button_desc2] = N'MASUK',[button_desc3] = N'MASUK',
		[button_font1] = N'imagine font,7,L,15',[button_font2] = N'imagine font,6,L,5',[button_font3] = N'imagine font,6,L,5'
 WHERE	[button_name]  = N'SOYButtonInAll1'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'LOAD SETTING',[button_desc2] = N'LOAD TETAPAN',[button_desc3] = N'LOAD TETAPAN',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonLoadSetting'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'LOCK',[button_desc2] = N'KUNCI',[button_desc3] = N'KUNCI',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonLock'
/* 10 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'LOCK ALL DOOR',[button_desc2] = N'KUNCI SEMUA PINTU',[button_desc3] = N'KUNCI SEMUA PINTU',
		[button_font1] = N'imagine font,6,C,13',[button_font2] = N'imagine font,6,C,13',[button_font3] = N'imagine font,6,C,13'
 WHERE	[button_name]  = N'SOYButtonLockAll'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'LOGIN',[button_desc2] = N'LOG MASUK',[button_desc3] = N'LOG MASUK',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonLogin'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'LOGOUT',[button_desc2] = N'LOG KELUAR',[button_desc3] = N'LOG KELUAR',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonLogout'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'NEXT',[button_desc2] = N'SELEPAS',[button_desc3] = N'MAJU',
		[button_font1] = N'imagine font,6,L,25',[button_font2] = N'imagine font,6,L,15',[button_font3] = N'imagine font,6,L,25'
 WHERE	[button_name]  = N'SOYButtonNext'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'OFFSET',[button_desc2] = N'MENGIMBANGI',[button_desc3] = N'MENGIMBANGI',
		[button_font1] = N'imagine font,6,L,35',[button_font2] = N'imagine font,6,C,5',[button_font3] = N'imagine font,6,C,5'
 WHERE	[button_name]  = N'SOYButtonOffset'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'OK',[button_desc2] = N'OK',[button_desc3] = N'OK',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonOk'
/* 11 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'ON SCREEN',[button_desc2] = N'ATAS SKRIN',[button_desc3] = N'DI LAYAR',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonOnscreen'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'OUT',[button_desc2] = N'KELUAR',[button_desc3] = N'KELUAR',
		[button_font1] = N'imagine font,7,L,30',[button_font2] = N'imagine font,6,C,13',[button_font3] = N'imagine font,6,C,13'
 WHERE	[button_name]  = N'SOYButtonOut'
  UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'OUT',[button_desc2] = N'KELUAR',[button_desc3] = N'KELUAR',
		[button_font1] = N'imagine font,7,L,30',[button_font2] = N'imagine font,6,C,13',[button_font3] = N'imagine font,6,C,13'
 WHERE	[button_name]  = N'SOYButtonOut1'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'OUT',[button_desc2] = N'KELUAR',[button_desc3] = N'KELUAR',
		[button_font1] = N'imagine font,7,L,30',[button_font2] = N'imagine font,6,C,13',[button_font3] = N'imagine font,6,C,13'
 WHERE	[button_name]  = N'SOYButtonOutAll'
  UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'OUT',[button_desc2] = N'KELUAR',[button_desc3] = N'KELUAR',
		[button_font1] = N'imagine font,7,L,30',[button_font2] = N'imagine font,6,C,13',[button_font3] = N'imagine font,6,C,13'
 WHERE	[button_name]  = N'SOYButtonOutAll1'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'PARK',[button_desc2] = N'PARK',[button_desc3] = N'PARKIR',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonPark'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'PASTE',[button_desc2] = N'TAMPAL',[button_desc3] = N'SISIP',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonPaste'
/* 12 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'PC TO READER',[button_desc2] = N'PC KE READER',[button_desc3] = N'PC KE READER',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonPcToRdr'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'PREVIOUS',[button_desc2] = N'SEBELUM',[button_desc3] = N'UNDUR',
		[button_font1] = N'imagine font,6,C,17',[button_font2] = N'imagine font,6,C,17',[button_font3] = N'imagine font,6,C,20'
 WHERE	[button_name]  = N'SOYButtonPrev'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'PRINT',[button_desc2] = N'CETAK',[button_desc3] = N'CETAK',
		[button_font1] = N'imagine font,6,C,8',[button_font2] = N'imagine font,6,C,8',[button_font3] = N'imagine font,6,C,8'
 WHERE	[button_name]  = N'SOYButtonPrint'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'PURGE',[button_desc2] = N'MEMADAM',[button_desc3] = N'MENGHAPUS',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonPurge'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'PURGE ALL',[button_desc2] = N'MEMADAM SEMUA',[button_desc3] = N'MENGHAPUS SEMUA',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonPurgeAll'
/* 13 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'READ DOOR STATUS',[button_desc2] = N'BACA STATUS PINTU',[button_desc3] = N'BACA STATUS PINTU',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonRdDoorStatus'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'READ FROM HW',[button_desc2] = N'BACA DARI HW',[button_desc3] = N'BACA DARI HW',
		[button_font1] = N'imagine font,6,C,2',[button_font2] = N'imagine font,6,C,2',[button_font3] = N'imagine font,6,C,2'
 WHERE	[button_name]  = N'SOYButtonRdFromHw'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'READER TO PC',[button_desc2] = N'READER KE PC',[button_desc3] = N'READER KE PC',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonRdrToPc'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'REFRESH',[button_desc2] = N'REFRESH',[button_desc3] = N'REFRESH',
		[button_font1] = N'imagine font,6,L,30',[button_font2] = N'imagine font,6,L,30',[button_font3] = N'imagine font,6,L,30'
 WHERE	[button_name]  = N'SOYButtonRefresh'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'REINDEX	',[button_desc2] = N'REINDEKS',[button_desc3] = N'REINDEKS',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonReindex'
/* 14 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'REMOVE SITE',[button_desc2] = N'SINGKIR SITE',[button_desc3] = N'SINGKIR SITUS',
		[button_font1] = N'imagine font,6,C,10',[button_font2] = N'imagine font,6,C,10',[button_font3] = N'imagine font,6,C,10'
 WHERE	[button_name]  = N'SOYButtonRemoveSite'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'REPORT',[button_desc2] = N'Laporan',[button_desc3] = N'Laporan',
		[button_font1] = N'imagine font,6,L,35',[button_font2] = N'imagine font,6,C,5',[button_font3] = N'imagine font,6,C,5'
 WHERE	[button_name]  = N'SOYButtonReport'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'RESET',[button_desc2] = N'RESET',[button_desc3] = N'RESET',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonReset'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'RESET ALL',[button_desc2] = N'RESET SEMUA',[button_desc3] = N'RESET SEMUA',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonResetAll'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'RESTART',[button_desc2] = N'RESTART',[button_desc3] = N'RESTART',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonRestart'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'RESTORE NOW',[button_desc2] = N'MULA RESTORE',[button_desc3] = N'MULA RESTORE',
		[button_font1] = N'imagine font,6,L,20',[button_font2] = N'imagine font,6,L,20',[button_font3] = N'imagine font,6,L,20'
 WHERE	[button_name]  = N'SOYButtonRestoreNow'
/* 15 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'RETRY',[button_desc2] = N'RETRY',[button_desc3] = N'RETRY',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonRetry'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SAVE',[button_desc2] = N'SIMPAN',[button_desc3] = N'SIMPAN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSave'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SAVE SETTING',[button_desc2] = N'SIMPAN TETAPAN',[button_desc3] = N'SIMPAN TETAPAN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSaveSetting'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SEARCH',[button_desc2] = N'CARI',[button_desc3] = N'CARI',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSearch'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SEARCH USER',[button_desc2] = N'CARI PENGGUNA',[button_desc3] = N'CARI PENGGUNA',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSearchUser'
/* 16 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT',[button_desc2] = N'PILIH',[button_desc3] = N'PILIH',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSelect'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SET',[button_desc2] = N'SET',[button_desc3] = N'SET',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSet'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT ALL',[button_desc2] = N'PILIH SEMUA',[button_desc3] = N'PILIH SEMUA',
		[button_font1] = N'imagine font,6,C,1',[button_font2] = N'imagine font,6,C,1',[button_font3] = N'imagine font,6,C,1'
 WHERE	[button_name]  = N'SOYButtonSlctAll'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT BRANCH',[button_desc2] = N'PILIH CAWANGAN',[button_desc3] = N'PILIH CABANG',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSlctBranch'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT DEPARTMENT',[button_desc2] = N'PILIH JABATAN',[button_desc3] = N'PILIH DEPARTEMEN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSlctDept'
/* 17 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT DESIGNATION',[button_desc2] = N'PILIH JAWATAN',[button_desc3] = N'PILIH JABATAN',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSlctDesignation'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT DOOR',[button_desc2] = N'PILIH PINTU',[button_desc3] = N'PILIH PINTU',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSlctDoor'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT SHIFT',[button_desc2] = N'PILIH SYIF',[button_desc3] = N'PILIH REGU',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSlctShift'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'SELECT TRANSACTION TYPE',[button_desc2] = N'PILIH JENIS TRANSAKSI',[button_desc3] = N'PILIH JENIS TRANSAKSI',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonSlctTransType'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'START',[button_desc2] = N'MULA',[button_desc3] = N'MULA',
		[button_font1] = N'imagine font,6,L,35',[button_font2] = N'imagine font,6,L,35',[button_font3] = N'imagine font,6,L,35'
 WHERE	[button_name]  = N'SOYButtonStart'
/* 18 */ 
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'STOP',[button_desc2] = N'HENTI',[button_desc3] = N'HENTI',
		[button_font1] = N'imagine font,6,L,38',[button_font2] = N'imagine font,6,L,38',[button_font3] = N'imagine font,6,L,38'
 WHERE	[button_name]  = N'SOYButtonStop'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'UNLOCK',[button_desc2] = N'BUKA',[button_desc3] = N'BUKA',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonUnlock'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'UNLOCK ALL DOOR',[button_desc2] = N'BUKA SEMUA PINTU',[button_desc3] = N'BUKA SEMUA PINTU',
		[button_font1] = N'imagine font,6,C,15',[button_font2] = N'imagine font,6,C,15',[button_font3] = N'imagine font,6,C,15'
 WHERE	[button_name]  = N'SOYButtonUnlockAll'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'VIEW',[button_desc2] = N'LIHAT',[button_desc3] = N'LIHAT',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonView'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'WRITE DOOR STATUS',[button_desc2] = N'REKOD STATUS PINTU',[button_desc3] = N'REKOD STATUS PINTU',
		[button_font1] = N'imagine font,6',[button_font2] = N'imagine font,6',[button_font3] = N'imagine font,6'
 WHERE	[button_name]  = N'SOYButtonWriteDoorStatus'
 UPDATE	[dbo].[buttons]
   SET	[button_desc1] = N'WRITE TO HW',[button_desc2] = N'REKOD KE HW',[button_desc3] = N'REKOD KE HW',
		[button_font1] = N'imagine font,6,C,5',[button_font2] = N'imagine font,6,C,5',[button_font3] = N'imagine font,6,C,5'
 WHERE	[button_name]  = N'SOYButtonWriteToHw' 
